<div class="container">
  <form>
  
  <h1 align="center">Log in</h1>
  
  <div class="form-group">
      <label><b> Mail</b></label>
      <input type="email" class="form-control" placeholder="Ingrese Correo electronico" name="user" [(ngModel)]="form.email" >
  </div>
  
  <div class="form-group">
      <label><b>Contraseña</b></label>
      <input type="password" class="form-control" placeholder="Ingrese Password" name="pass" [(ngModel)]="form.password" >
  </div>
  
  <div align="center">
  <button align="center" class="btn btn-primary" type="submit" (click)="Loguearse()" >Login</button>
  <button align="center" class="btn btn-success" type="submit" (click)="datosAdmin()" >Datos del Admin</button>
  </div>
  
  </form>
  </div>