<body align="right">
  <div class="alert bg-dark">
  <button *ngIf="token.data.rol == 'Admin'" class="btn btn-success" type="button" routerLink="/menu/alta" >Alta</button>  
  <button class="btn btn-primary" type="button" routerLink="/menu/listado" >Listado</button>
  <button *ngIf="token.data.rol == 'Admin'" class="btn btn-success" type="button" routerLink="/menu/baja" >Baja</button>  

  <button class="btn btn-secundary" type="button" (click)="desloguear()">Log Out</button>

</div>
</body>

<router-outlet></router-outlet>