<div class="container">  
<table class="table" border="1">
      <thead>
        <tr>
          <th>Correo</th>
          <th>Rol</th>
          <th>photo</th>
          <th>Acciones</th>
        </tr>
      </thead>   
      
      <tr *ngFor="let per of ListaDeUsuarios" [ngClass]="per.rol" (click)="onClickRow(per)" >
        <td>{{per.email}}</td>
        <td>{{per.rol}}</td>
        <th><img src="http://localhost/slim/apirest/imagenes/{{per.photo}}" width="40" height="40"></th>

        <td>          
        <app-borrar-usuario (stdEvent)="listar()" [idParaBorrar] = "per.id"></app-borrar-usuario>           
        </td>

      </tr>
  </table>


    <app-mostrar-usuario [detalles]="UsuarioParaMostrar" align="center"></app-mostrar-usuario><br>


    <div align="center" class="alert alert-primary">
      <input type="checkbox" class="form-check-input" [(ngModel)]="CboxEditar">Editar
    </div><br>


</div>



<div class="container" *ngIf="CboxEditar">
<app-alta></app-alta>
<div>

